{% extends user+'.html' %} {% block content %} {% with messages = get_flashed_messages() %} {% if messages %}
<style>
    ul {
        background: rgb(243, 95, 95);
        padding: 10px;
        list-style-type: none;
        padding-left: 200px;
        color: rgb(94, 10, 17);
    }
</style>
<ul>
    {% for message in messages %}
    <li id='list'> {{ message }}</li>
    {% if message == 'Password changed succesfully!' %}
    <style>
        ul {
            background: rgb(95, 243, 127);
            padding: 10px;
            list-style-type: none;
            padding-left: 200px;
            color: rgb(9, 56, 9);
        }
    </style>
    {% endif %} {% endfor %}
</ul>
{% endif %} {% endwith %}
<div align='center'>
    <form action="/change-password" , method="POST">
        {{ form.hidden_tag }}
        <br> {{ form.password.label }} <br><br> {{ form.password }} <br>
        <br> {{ form.confirm.label }} <br><br> {{ form.confirm }} <br>
        <br> {{ form.submit }}
    </form>
</div>

{% endblock %}