<!DOCTYPE html>
<html>

<head>
    <title>Sign UP</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='signup.css')}}">
</head>

<body>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li> <b>{{ message }}</b></li>
        {% if flag == 1 %}
        <style>
            ul {
                background: rgb(86, 238, 86);
                color: rgb(29, 87, 21);
            }
        </style>
        {% else %}
        <style>
            ul {
                background: rgb(241, 89, 89);
                color: rgb(163, 10, 10);
                font-size: larger;
            }
        </style>
        {% endif %} {% endfor %}
    </ul>
    {% endif %} {% endwith %}


    <h2 style="text-align: center;">Sign Up</h2>
    <form action='/register/' , method='POST'>
        {{ form.hidden_tag }}
        <div class="signup">
            {{ form.username.label }} <br> {{ form.username }} <br>
            <br> {{ form.email.label }} <br> {{ form.email }} <br>
            <br> {{ form.password.label }} <br> {{ form.password }} <br><br>
            <div align='center'>{{ form.submit }}</div><br>
            <p>Click <a href="/login/" id='href'>here</a> to login.</p>
        </div>
    </form>

</body>

</html>