<!DOCTYPE html>
<html>

<head>
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sign-in.css')}}">
</head>

<body>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul id='list'>
        {% for message in messages %}
        <li> <b>{{ message }}</b></li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <h2 style="text-align: center;">Sign In</h2>

    <form action="/login/" , method="POST">
        {{ form.hidden_tag }}
        <div align='center' class="login">
            <br> {{ form.whichUser.label }} <br> {{ form.whichUser(style="list-style:none; display:inline") }}
            <br> {{ form.userId.label }} <br> {{ form.userId }} <br>
            <br> {{ form.password.label }} <br> {{ form.password }} <br>
            <br> {{ form.submit }}<br>
            <p>Click <a href="/register/" id="href">here</a> to register.</p>
        </div>
    </form>

</body>

</html>